@import "tailwindcss";

@import "./components.css";

@import "tw-animate-css";

@theme {
  --color-rg-500: #39974d;
  --color-rg-400: #50c85a;
  --color-rg-300: #67eb72;

  --color-n-900: #111111;
  --color-n-800: #2a2a2a;
  --color-n-500: #555555;
  --color-n-200: #777777;
  --color-n-90: #949494;
  --color-n-60: #b7b7b7;
  --color-n-40: #dfdfdf;
  --color-n-30: #efefef;
  --color-n-10: #fcfcfc;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-system-b-500: #0747a6;
  --color-system-b-400: #0052cc;
  --color-system-b-50: #deebff;

  --color-system-g-500: #006644;
  --color-system-g-400: #00875a;
  --color-system-g-50: #e3fcef;

  --color-system-y-500: #ff8b00;
  --color-system-y-400: #ff991f;
  --color-system-y-50: #fffae6;

  --color-system-r-500: #bf2600;
  --color-system-r-400: #de350b;
  --color-system-r-300: #ff5630;
  --color-system-r-50: #ffebe6;
}

/* Swiper pagination bullet 커스텀 스타일 */
.swiper-pagination-bullet {
  background-color: #d8dfe6 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}
