@import "tailwindcss";

@import "./components.css";

@import "tw-animate-css";

@theme {
  --color-primary-500: #39974d;
  --color-primary-400: #50c85a;
  --color-primary-300: #67eb72;

  --color-secondary-900: #111111;
  --color-secondary-800: #2a2a2a;
  --color-secondary-500: #555555;
  --color-secondary-200: #777777;
  --color-secondary-90: #949494;
  --color-secondary-60: #b7b7b7;
  --color-secondary-40: #dfdfdf;
  --color-secondary-30: #efefef;
  --color-secondary-10: #fcfcfc;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-system-b-500: #0747a6;
  --color-system-b-400: #0052cc;
  --color-system-b-50: #deebff;

  --color-system-g-500: #006644;
  --color-system-g-400: #00875a;
  --color-system-g-50: #e3fcef;

  --color-system-y-500: #ff8b00;
  --color-system-y-400: #ff991f;
  --color-system-y-50: #fffae6;

  --color-system-r-500: #bf2600;
  --color-system-r-400: #de350b;
  --color-system-r-300: #ff5630;
  --color-system-r-50: #ffebe6;
}
