/* Swiper pagination bullet 커스텀 스타일 */
.swiper-pagination-bullet {
  background-color: #d8dfe6 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}
